<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<title>404: Not Found</title>
		<style>
			body {
				@apply bg-gray-800;
			}

			.center {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 100vh;
				width: 100vw;
			}

			.title {
				@apply text-3xl font-bold text-white/75;
			}

			.message {
				@apply text-lg text-white/70;
			}
			.back {
				@apply text-primary-dark mt-10 text-xl underline;
			}
		</style>
	</head>
	<body>
		<main class='center'>
			<img
				src='/images/serverbee-logo.png'
				alt=''
				width='160px'
				height='160px'
			/>
			<h1>
				<span class='title'>404</span>
			</h1>
			<p class='message'>This page isn’t in our system.</p>

			<a href='/' class='back'>Take me home.</a>
		</main>
	</body>
</html>
