---
import Container from './Container.astro'
import Feature from './Feature'
import { PrimaryFeatures } from './PrimaryFeatures'
---

<div id='features'>
	<Container>
		<div class='container mx-auto'>
			<Feature />
		</div>
	</Container>
</div>
