---
import Process from './process'
---

<section
	id='process'
	class='bg-[#F2F2F7] pt-20 pb-20 lg:pt-[120px] lg:pb-[120px]'
>
	<div class='container'>
		<div class='wow fadeInUp' data-wow-delay='.2s'>
			<div class='-mx-4 flex flex-wrap'>
				<Process client:load />
			</div>
		</div>
	</div>

	<style>
		.container {
			width: 100%;
			margin-right: auto;
			margin-left: auto;
			padding-right: 16px;
			padding-left: 16px;
		}

		@media (min-width: 540px) {
			.container {
				max-width: 540px;
			}
		}

		@media (min-width: 720px) {
			.container {
				max-width: 720px;
			}
		}

		@media (min-width: 960px) {
			.container {
				max-width: 960px;
			}
		}

		@media (min-width: 1140px) {
			.container {
				max-width: 1140px;
			}
		}

		@media (min-width: 1320px) {
			.container {
				max-width: 1320px;
			}
		}
	</style>
</section>
