---
import AppFooter from '@components/AppFooter.astro'
import AppHeader from '@components/AppHeader.astro'
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/png' href='/favicon.png' />
		<meta name='generator' content={Astro.generator} />
		<meta
			name='description'
			content='ServerBee is an iOS app that functions as a cross-platform server monitoring tool.'
		/>
		<title>ServerBee</title>

		<link
			href='https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap'
			rel='stylesheet'
		/>
	</head>
	<body class='bg-white dark:bg-gray-900'>
		<AppHeader />
		<slot />
		<AppFooter />
	</body>
</html>
<style>
	html {
		font-family: Urbanist, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
	}
</style>
